{% from "account/parts.html" import account_heading %}
{% from "resource/parts.html" import create_form as resource_create_form %}
{% from "resource/parts.html" import mainbar_list_item as resource_mainbar_list_item %}
{% from "event/parts.html" import event_list_item %}
{% extends "layout.html" %}

{% block head %}
  <link rel="alternate" type="application/atom+xml" 
    href="{{ url_for('account_feed', account=account.name) }}">
  <link rel="alternate" type="application/json" 
    href="{{ url_for('account_api.get', account=account.name) }}">
{% endblock %}

{% block title %}
  {{ account.name }}
{% endblock %}

{% block content %}
  {{ account_heading(account) }}
  <div class="rightbar">
    <div class="box">
      <h2>Recent Activity</h2>
      <ul class="events">
        {% for event in events %}
          {{ event_list_item(event) }}
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="leftbar">
    <div class="box">
      <h2>Resources &amp; Datasets</h2>
      <ul class="resource-list">
        {% for node in account.nodes %}
          {{ resource_mainbar_list_item(node) }}
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}


