{% from "resource/parts.html" import create_form as resource_create_form %}
{% from "resource/parts.html" import mainbar_list_item as resource_mainbar_list_item %}
{% extends "layout.html" %}

{% block title %}
  {{ account.name }}
{% endblock %}

{% block content %}
  <h1><img src="{{ account.email | gravatar(size=32) }}" /> 
    <strong>{{ account.name }}</strong> ({{ account.full_name}})</h1>
  <div class="rightbar">
    <div class="box">
      Here is where the activity stream will be.
    </div>
  </div>
  <div class="leftbar">
    <div class="box">
      <p>Is at {{ account.email }}</p>

      // FIXME: Node list from DB, not ES.
      <ul class="resource-list">
        {% for node in account.nodes %}
          {{ resource_mainbar_list_item(node) }}
        {% endfor %}
      </ul>
      {{ resource_create_form() }}
    </div>
  </div>
{% endblock %}


