{% extends "layout.html" %}

{% block title %}
  Login
{% endblock %}

{% block content %}
  <div class="sidebar">
    <div class="nobox">  
      <h2>Not yet registered?</h2>
      <p>
        If you're not registered yet, you can <a href="{{ url_for('register')
          }}">sign up here</a> and join very easily. 
      </p>
    </div>
  </div>
  <div class="mainbar">
    <div class="box">
      <h2>Login</h2>
      <form method="POST">
        <dl>
          <dt><label for="login">Login</label></dt>
          <dd><input name="login" value="" /></dd>
        </dl>
        <dl>
          <dt><label for="password">Password</label></dt>
          <dd><input type="password" name="password" value="" /></dd>
        </dl>
        <dl>
          <dd><input type="submit" value="Login" /></dd>
        </dl>
      </form>
    </div>
  </div>
{% endblock %}



