{% from "account/parts.html" import login_form %}
{% extends "layout.html" %}

{% block title %}
  Login
{% endblock %}

{% block content %}
  <div class="sidebar">
    <div class="nobox">  
      <h2>Not yet registered?</h2>
      <p>
        If you're not registered yet, you can <a href="{{ url_for('register')
          }}">sign up here</a> and join very easily. 
      </p>
    </div>
  </div>
  <div class="mainbar">
    <div class="box">
      {{ login_form() }}
    </div>
  </div>
{% endblock %}



