{% extends "layout.html" %}

{% block title %}
  Registration
{% endblock %}

{% block content %}
  <div class="sidebar">
    <div class="nobox">
      <h2>Already signed up?</h2>
      <p>
        If you already have an account you can <a href="{{ url_for('login')
          }}">log in</a> directly. 
      </p>
    </div>
  </div>
  <div class="mainbar">
    <div class="box">
      <h2>Join now!</h2>
      <form method="POST">
        <dl>
          <dt>
            <label for="name">Login name</label>
            <p>
              This name will become part of the link for any resources 
              and datasets that you create.
            </p>
          </dt>
          <dd><input name="name" value="" /></dd>
        </dl>
        <dl>
          <dt><label for="full_name">Full name</label></dt>
          <dd><input name="full_name" value="" /></dd>
        </dl>
        <dl>
          <dt><label for="email">E-Mail</label></dt>
          <dd><input name="email" value="" /></dd>
        </dl>
        <dl>
          <dt><label for="password">Password</label></dt>
          <dd><input type="password" name="password" value="" /></dd>
        </dl>
        <dl>
          <dt><label for="password_confirm">Password (confirm)</label></dt>
          <dd><input type="password" name="password_confirm" value="" /></dd>
        </dl>
        <dl>
          <dd><input type="submit" value="Register" /></dd>
        </dl>
      </form>
    </div>
  </div>
{% endblock %}


