{% import "macros.tmpl" as macros %}
{% extends "layout.tmpl" %}

{% block title %}
  Welcome
{% endblock %}

{% block content %}
  <div class="box">
    Hello, World! 
    {% if current_user %}
      {{ current_user.full_name }}
    {% endif %}
  </div>
{% endblock %}


