<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% block title %}Welcome{% endblock %} - {{ config['SITE_NAME'] }}</title>
  <meta name="description" content="A place to collaboratively work on data">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/static/favicon.ico">
  <script src="/static/js/libs/modernizr-1.7.min.js"></script>
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="/static/style/ie.css" type="text/css" media="screen, projection">
  <![endif]-->
  <link rel="stylesheet" href="/static/style/style.css?v=2">
  {% block head %} {% endblock %}
</head>
<body>
  <div id="container" class="container">
    <header>
      <div class="site">
        <div class="account-menu">
          {% if current_user.is_anonymous() %}
            <a class="login_modal" href="{{ url_for('account.login') }}">Login</a>
            <a class="login_modal" href="{{ url_for('account.register') }}">Register</a>
          {% else %}
            <a href="{{ url_for('account.get', account=current_user.name) }}">{{
              current_user.name }}</a>
            <a href="{{ url_for('home') }}">Dashboard</a>
            <a href="{{ url_for('account.profile') }}">Settings</a>
            <a href="{{ url_for('account.logout') }}">Logout</a>
            <a class="create_modal" href="#"><img
              src="/static/img/icons/create.png" alt="Create a resource or
              dataset" /></a>
          {% endif %}
        </div>
        <span class="site-title">
          <a href="{{ url_for('home') }}">
            <img src="/static/img/datahub.png" alt="{{ config['SITE_NAME'] }}" /></a>
        </span>
      </div>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes site">
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div id="main" class="site" role="main">
      {% block content %}
        - No Content -
      {% endblock %}
    </div>
    <div class="clearfix"></div>
    <footer>
      <div class="site">
        &copy; 2011: Maybe an <a href="http://okfn.org">Open Knowledge Foundation</a>
          project. 
      </div>
    </footer>
  </div> <!-- eo #container -->


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
  <script>window.jQuery || document.write("<script src='/static/js/libs/jquery-1.5.1.min.js'>\x3C/script>")</script>


  <!-- scripts concatenated and minified via ant build script-->
  <script src="/static/js/modal.js"></script>
  <script src="/static/js/script.js"></script>

  <script>
    $(document).ready(function() {
      $(".login_modal").click(function(e) {
        e.preventDefault();
        $.get('/login.modal', function(pg) {
          $.modal(pg);
        });
      });
      
      $(".create_modal").click(function(e) {
        e.preventDefault();
        $.get('/create.modal', function(pg) {
          $.modal(pg);
        });
      });
    }); 
  </script>
  {% block script %} {% endblock %}
  <!-- end scripts-->

  <!--[if lt IE 7 ]>
    <script src="/static/js/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix("img, .png_bg");</script>
  <![endif]-->

</body>
</html>





