
{% macro mainbar_list_item(resource) %}
  <li class="resource-item">
    <span class="url"><a href="{{ resource.url }}"><img
        src="/static/img/icons/link.png" alt="Download" /></a></span>
    <span class="name"><a href="{{ url_for('account', account=resource.owner.name)
        }}">{{ resource.owner.name }}</a> /
    <strong><a href="{{ url_for('node', owner=resource.owner.name, node=resource.name)
        }}">{{ resource.name }}</a></strong></span>
    <p>{{ resource.summary }}</p>
  </li>
{% endmacro %}

{% macro create_form(user, dataset=None) %}
  <form action="{{ url_for('resource_create') }}" 
    method="POST" class="resource-create">
    {% if dataset %}
      <input name="dataset.name" value="{{ dataset.name }}" type="hidden" />
      <input name="dataset.owner" value="{{ dataset.owner.name }}" type="hidden" />
    {% endif %}
    <h3>Create a resource</h3>
    <p>
      Resources are references to an individual item like a spreadsheet, 
      database or API endpoint.
    </p>
    <dl>
      <dt><label for="name">Name</label></dt>
      <dd><input name="name" value="" placeholder="my-resource" /></dd>
    </dl>
    <dl>
      <dt><label for="url">URL</label></dt>
      <dd><input name="url" value="" placeholder="http://example.org/file.csv" /></dd>
    </dl>
    <dl>
      <dt><label for="summary">Summary</label></dt>
      <dd><input name="summary" value="" placeholder="A new resource..." /></dd>
    </dl>
    <dl>
      <dd><input type="submit" value="Create Resource" /></dd>
    </dl>
  </form>
{% endmacro %}
