{% extends "layout.html" %}

{% block head %}
  <link rel="alternate" type="application/atom+xml" 
  href="{{ url_for('node_feed', owner=resource.owner.name,
                   node=resource.name) }}">
  <link rel="alternate" type="application/json" 
    href="{{ url_for('resource_api.get', owner=resource.owner.name, 
                     resource=resource.name) }}">
{% endblock %}

{% block title %}
  {{ resource.owner.name }} / {{ resource.name }}
{% endblock %}

{% block content %}
  <h1><img src="{{ resource.owner.email | gravatar(size=32) }}" /> 
    <a href="{{ url_for('account', account=resource.owner.name) }}">{{ resource.owner.name }}</a>
    / <strong>{{ resource.name }}</strong></h1>
  <div class="sidebar">
    <div class="box">
      {{ request.url }}
    </div>
  </div>
  <div class="mainbar">
    <div class="box">
      {{ resource.summary }}
    </div>
  </div>
{% endblock %}


