{% extends "layout.html" %}

{% block head %}
  <link rel="alternate" type="application/atom+xml" 
  href="{{ url_for('node_feed', owner=resource.owner.name,
                   node=resource.name) }}">
  <link rel="alternate" type="application/json" 
    href="{{ url_for('resource_api.get', owner=resource.owner.name, 
                     resource=resource.name) }}">
{% endblock %}

{% block title %}
  {{ resource.owner.name }} / {{ resource.name }}
{% endblock %}

{% block script %}
  <script>
    $(document).ready(function() {
      var res_owner = '{{ resource.owner.name }}';
      var res_name = '{{ resource.name }}';

      toggleDataset = function(cur, owner, name) {
        if ($(cur).is(':checked')) {
          $.post('/api/v1/dataset/' + owner + '/' + name + '/resources', 
            {'owner': res_owner, 'name': res_name});
        } else {
          $.ajax({url: '/api/v1/dataset/' + owner + '/' + name + '/resources/'
            + res_owner + '/' + res_name,
                  type: 'DELETE'});
        }
      }
      $(".add_datasets_modal").click(function(e) {
        e.preventDefault();
        $.get('/add_datasets.modal', {'owner': res_owner,
          'name': res_name}, function(pg) {
          $.modal(pg, {
            onClose: function() { location.reload(); }
            });
        });
      });
    }); 
  </script>
{% endblock %}

{% block content %}
  <h1><img src="{{ resource.owner.email | gravatar(size=32) }}" /> 
    <a href="{{ url_for('account.get', account=resource.owner.name) }}">{{ resource.owner.name }}</a>
    / <strong>{{ resource.name }}</strong></h1>
  <div class="sidebar">
    <div class="nobox">
      <h3>
        {% if can.dataset.create(current_user) %}
          <a class="action add_datasets_modal" href="#">
            <img src="/static/img/icons/create.png" alt="Add this resource to a dataset" />
          </a>
        {% endif %}
        Datasets</h3>
      <ul class="node-minilist">
        {% for dataset in resource.datasets %}
          <li>
            <a href="{{ url_for('node', owner=dataset.owner.name, node=dataset.name) }}">
              {{ dataset.owner.name }} / {{ dataset.name }}
            </a> ({{ dataset.resources | length }})
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="mainbar">
    <div class="box">
      <table class="property-list">
        <tr>
          <th>URL:</th>
          <td><a href="{{ resource.url }}">{{ resource.url }}</a></td>
        </tr>
        <tr>
          <th>Summary:</th>
          <td>{{ resource.summary }}</td>
        </tr>
      </table>
    </div>
  </div>
{% endblock %}


